<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= @post.errors.count %>件のエラーがあります。</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :content, class: 'form-control' %>
  <br>
  <%= image_tag(@post.image_url) %>
  <%= f.file_field :image %>
  <%= f.hidden_field :image_cache %>
  <br>
  <%= f.submit '投稿', class: 'btn btn-primary btn-block' %>
  <%= link_to "ブログ一覧画面にもどる", posts_path %>
<% end %>
